include ../mixins/flash-messages

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		title= title || 'Keystone UpdateHandler Test'
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css', integrity='sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY', crossorigin='anonymous')

	body
		.container(style='margin-top: 30px')
			h1 Update Handler Test
			// Display flash messages
			+flash-messages(messages)
			if formSubmitted
				// Display success message
				h2 Success!
				if user
					p Head over to the Admin UI to see the result of this form submission:
					a(href='/keystone/update-handler-test', style='margin-right: 10px').btn.btn-lg.btn-primary Admin UI 
				else
					p To see your submission, sign in with the username 
						code user@keystonejs.com
						|  and the password 
						code demo
					a(href='/keystone/update-handler-test', style='margin-right: 10px').btn.btn-lg.btn-primary Sign In
				a(href='/update-handler').btn.btn-lg.btn-secondary Submit Again
			else
				// Display form
				form(method='post').form-horizontal
					input(type='hidden', name='action', value='test-update-handler')
					.form-group.row(class=validationErrors.name ? 'has-error' : null)
						label(for='name').col-sm-2.col-form-label Name
						.col-sm-10
							input(type='text' name='name' value=formData['name.full'] placeholder='First Last').form-control
					.form-group.row(class=validationErrors.email ? 'has-error' : null)
						label(for='email').col-sm-2.col-form-label Email
						.col-sm-10
							input(name='email' value=formData.email placeholder='name@domain.com').form-control
					.form-group.row
						.col-sm-12
							button(type='submit').btn.btn-primary Submit

